@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  height: 100vh;
}

.list {
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  width: 65vw;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.student-header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Raleway';
  font-size: 55px;
  overflow-wrap: break-word;
}

button {
  border: none;
  color: #AAAAAA;
  background-color: transparent;
  font-size: 50px;
}

button:hover {
  cursor: pointer;
  color: #030304;
}

.details {
  margin: 15px 0 5px 30px;
}

p {
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 20px;
}

.grades {
  margin-top: 15px;
}

.student {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  border-bottom: 2px solid #F8F6F8;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1.5px solid #DBDBDD;
}

.info {
  margin-left: 3%;
  width: 100%;
}

.input-container {
  padding: 0 15px;
  position: sticky;
  top: 0;
}

input {
  border: 0;
  border-bottom: 2px solid #DBDBDD;
  width: 100%;
  padding: 20px 0 10px 0;
  outline: none;
  font-family: 'Raleway';
  font-size: 24px;
}

input:focus {
  border-bottom: 2px solid #000000;
}

@media (max-width: 1025px) {
  h1 {
    font-size: 45px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  img {
    width: 75px;
    height: 75px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: x-small;
  }
}
